* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px Black;
  border-radius: 4px;
  padding: 10px;

}

.header {
  grid-area: header;
  background-color: #E7E19F;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-taobao-food-pastry-shading-border-retro-knife-and-fork-petal-poster-image_126764.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #BB843E;
  text-align: inherit;
border-left: solid;
border-left-color: Yellow;
border-left-width: 10px;
border-right: dashed;
border-bottom: dashed;
border-top: dashed;
border-radius: 10px;
}

.main {
  grid-area: main;
  background-color: #CDBB93;
  border-left:solid;
border-left-color: Yellow;
border-left-width: 10px;
border-right: dashed;
border-bottom: dashed;
border-top: dashed;
border-radius: 10px;
font-family: "courier",sans-serif;
}


.grid-container {
  display: grid;
  gap: 5px;
  grid-template-rows:100px 180px auto;
  grid-template-areas:
  "header"
  "sidebar"
  "main";
}

@media (min-width: 600px) {
  .grid-container {
    background-color: #E7E19F;
    grid-template-columns: 180px auto;
    grid-template-rows: 150px auto;
    grid-template-areas:
    "header  header"
    "sidebar main";

}
  .header {
    background-size: contain;
    background-repeat: repeat-x;
  }
  .sidebar {
    grid-area: sidebar;
    background-color:#BB843E;
    text-align: center;
    font-size: 35px;
    border-left: solid;
    border-left-color: Yellow;
    border-left-width: 10px;
    border-right: dashed;
    border-bottom: dashed;
    border-top: dashed;
    border-radius: 10px;
  }
a{
  font-size: 35px;
}
}
@media (min-width: 900px) {
  .grid-container {
    background-color:#E7E19F;
    grid-template-columns: 180px auto;
    grid-template-rows: 150px auto;
    grid-template-areas:
    "header  header"
    "sidebar main";
}

.header {
  background-size: contain;
  background-repeat: repeat-x;
}
.sidebar {
  grid-area: sidebar;
  background-color:#BB843E;
  text-align: center;
  font-size: 35px;
  border-left: solid;
border-left-color: Yellow;
border-left-width: 10px;
border-right: dashed;
border-bottom: dashed;
border-top: dashed;
border-radius: 10px;
}
a{
  font-size: 35px;
}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
